*.env
.django.env
.postgres.env
.env

staticfiles/
media/


# Python
.venv/
venv/
__pycache__/
*.pyc
db.sqlite3

# Editors
.idea/
.vscode/

# Git
.git/
.gitignore

# Docker
docker-compose*.yml
.dockerignore

# Backups
backups/
*.sql
*.sql.gz
backup.log