POSTGRES_DB=meteogarden
POSTGRES_USER=meteogarden
POSTGRES_PASSWORD=meteodb
POSTGRES_HOST=pg
POSTGRES_PORT=5432

POLLINATION_API_KEY=sk_u4xHx6Mkgb1akdw7BMIhyRmcAGEBuXJL
XEMA_METEO_TOKEN=7nlBiXLwJwBOmLnQ0bItWS3Pe
PERENUAL_API_KEY=sk-kXRk6999a17527f7414956
PLANTNET_API_KEY=2b10ZpvYftiUAfWCtM1QIYcu3e

AWS_S3_ACCESS_KEY=AKIAVCJWCXWT272NXTJF
AWS_S3_SECRET_ACCESS_KEY=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

GOOGLE_TRANSLATE_API_KEY=AIzaSyAOXTMD03nyPT37NhT_76gIdg8ScFsCIkc